html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-image: url(./Images/swabysedit.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.email {
    height: 7.5vh;
}

.navbar-text {
  padding: 0;
}

.logo-header {
    height: 5vh;
}

header {
  position: relative;
  background-color: rgba(31, 31, 31, 0.26);
}

.nav-link {
  color: rgb(35, 31, 32);
  font-family: "Playfair Display SC", serif;
}

.nav-link:hover {
    color: rgb(121, 46, 143);
}

.dropdown {
  display: none;
}

.dropdown-toggle div {
  width: 25px;
  height: 2px;
  background-color: #232224;
  margin: 5px;
}

.dropdown-toggle::after {
  content: none;
}

.landing {
  height: 100vh;
}

.logo-long {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30vh;
    margin-top: 30vh;
    opacity: .75;
}

.about-logo {
  height: 25vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.info-section {
    text-align: center;
}

.section-header {
    font-size: 50px;
    color: rgb(121, 46, 143);
}

h1 {
  padding-top: 30vh;
  text-align: center;
  font-size: 50px;
  font-family: "Playfair Display SC", serif;
  color: rgb(197, 197, 197);
}

.content {
  background-color: rgba(228, 227, 227, 0.9);
  /* height: 75vh; */
  padding-top: 10vh;
  padding-bottom: 10vh;
}

h3 {
  padding-top: 15px;
  font-size: 30px;
  font-family: "Playfair Display SC", serif;
  color:rgb(121, 46, 143);
}

.logo-line {
    border-top: 1px solid rgb(121, 46, 143);
    width: 5%;
}

.section-content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.info-name {
    font-size: 20px;
}

p {
    font-family: 'Montserrat', sans-serif;
    color:rgb(35, 31, 32) ;
}

.info-content {
    margin-bottom: 0;
}

.info-phone {
    margin-top: 10px;
    margin-bottom: 10px;
}

.info {
    color:rgb(35, 31, 32) ;
}

.info:hover {
    color: rgb(121, 46, 143) ;
    text-decoration: none;
}

#email-input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.first-pad {
    padding-right: 2.5px;
    padding-left: 0;
}

.last-pad {
    padding-right: 0;
    padding-left: 2.5px;
}

.form-group {
    margin-top: 5px;
    margin-bottom: 10px;
}

.btn {
    background-color: rgb(121, 46, 143);
    border: none;
}

.btn:hover {
background-color: rgb(35, 31, 32) ;
}

footer {
  height: 25vh;
  /* background-image: url(./Images//mormonShort.png);
  background-size: cover;
  background-position: center; */
}

.foot {
  background-color: rgba(0, 0, 0, 0.699);
  height: 25vh;
  display: flex;
  justify-content: center;
}

/* h4 {
  color: rgb(214, 214, 214);
  font-size: 35px;
  margin-top: auto;
  margin-bottom: auto;
  font-family: "Playfair Display", serif;
} */

.foot-icon {
  color: rgb(214, 214, 214);
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.footer-logo {
    height: 10vh;
    margin-top: auto;
    margin-bottom: auto;
}

@media screen and (max-width: 768px) {
  .dropdown {
    display: flex;
  }
  .full {
    display: none;
  }

  .dropdown-menu {
    margin-top: 2vh;
    background-color: rgba(31, 31, 31, 0.466);
  }

  .dropdown-item {
    font-family: "Playfair Display SC", serif;
  }

  .dropdown-item:hover {
    opacity: 100%;
    font-weight: bolder;
  }
  .content {
      height: auto;
      padding-bottom: 10vh;
  }

  #contact {
      padding-top: 10vh;
  }

  #chat {
    padding-top: 10vh;
  }
}

@media screen and (max-width: 450px) {
.logo-long {
    width: 90%;
    height: auto;
}
}